@model IEnumerable<MissionaryWebsiteP2.Models.Missions>
@{
    ViewBag.Title = "MissionPage";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Mission")">Mission</a></li>
    <li class="breadcrumb-item active">Mission Page</li>
</ol>
<div style="border-color:black; border-width:1px">
    @foreach (var item in ViewBag.missions)
    {
        <h2> @(item.missionName + " ") Mission FAQ</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/imgs/@item.missionFlag" class="img img-responsive img-rounded" />
            </div>
            <div class="col-md-6">
                <h4>Mission President</h4>
                <p>&emsp;@item.missionPresidentName</p>
                <h4>Mission Address</h4>
                <p>&emsp;@item.missionAddress</p>
                <h4>Mission Language</h4>
                <p>&emsp;@item.missionLanguage</p>
                <h4>Climate</h4>
                <p>&emsp;@item.missionClimate</p>
                <h4>Main Religion</h4>
                <p>&emsp;@item.missionDominantReligion</p>
            </div>
        </div>
    }
</div>
<div class="row">
    <h3>FAQ's</h3>
</div>
<div>
    @foreach (var item in ViewBag.questions)
    {
        <div class="panel panel-primary">
            <div class="panel-heading panel-primary"></div>
            <div class="panel-body">
                <p>@item.question</p>
                <a href="@Url.Content("#hidden" + item.MissionQuestion_ID)" data-toggle="collapse" class="btn btn-primary btn-sm">Reply</a>
                   @using (Html.BeginForm("MissionPage", "Mission", new { answer = Request.Form[@Url.Content("answer" + item.MissionQuestion_ID)], question_ID = item.MissionQuestion_ID }, FormMethod.Post, new { id = @Url.Content("hidden" + item.MissionQuestion_ID), @class = "collapse"}))
                   {
                       if (item.answer == "")
                       {
                        <textarea id="@Url.Content("answer" + item.MissionQuestion_ID)" name="@Url.Content("answer" + item.MissionQuestion_ID)" placeholder="Write your answer here!"></textarea>
                       }
                       else
                       {
                        <textarea id="@Url.Content("answer" + item.MissionQuestion_ID)" name="@Url.Content("answer" + item.MissionQuestion_ID)">@item.answer - @item.user_ID</textarea>
                       }
                    <input type="submit" value="Submit" />

                   }
            </div>
        </div>
    }
</div>
<div class="row">
    <h4>Questions</h4>
    <p>
        Please give us some of the questions you would like to have answered! We love to hear
        what you are wanting to know more about. Thanks!
    </p>
    @using (Html.BeginForm("MissionPage2", "Mission", new { answer = Request.Form["newQuestion"], mission_ID = ViewBag.missionID }, FormMethod.Post))
    {
        <textarea id="newQuestion" name="newQuestion" placeholder="Input your question here"></textarea>
        <br />
        <input type="submit" value="Submit" />
    }
    
</div>
